/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.header-container{
	font-family: 'Ubuntu';
	margin: 0% 5%;
	box-shadow: 1px 5px 5px #888888;
	border: #26a69a solid 12px;
}
.collection{
	overflow: visible;
}
h1{
	font: bolder 36px Ubuntu, Arial;
	color: #006354;
	font-size: 40px;
	margin: 0;
}
.header-container img{
	max-width: 8%;
	 
}
.header-wrapper ul, li{
	color: #008C7F;
	display: flex;
	margin:0 ;
	border: none;
}
li{
	white-space:nowrap;
}
.image-container{
	padding: 1% 10%;
}
.image-container img{
	object-fit: contain;
	width: 100%;
	height: 34rem;
	padding: 2% 0%;
	background-color: black;
}
.image-slider{
	width: 80%;
	height: 100px;
	object-fit: contain;
	overflow: hidden;
}
.thumbnail{
	display: flex;
    justify-content: start;
    max-height: 120px;
    flex-wrap: wrap;
    overflow: scroll;
    overflow-x: hidden;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.thumbnail img{
	width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.9;
	padding: 0% 1% 5% 0%;
    margin: 7% 1% 0% 5%;
}
.thumb-image{
	width: 14%;
}
.container{
	width:80%;
	margin: 0 auto;
}
footer h2{
	text-align: center;
	padding: 10% 0%;
	font-size: 16px;
	margin: 0;
}
.header-wrapper{
	display: flex;
	justify-content: space-between;
}
header a{
	text-decoration: none;
	color: #006354;
	display: flex;
}
.thumbnail img:hover{
	opacity: 1;
}    
.upload-image{
	text-align: center;
	padding-top: 5%;
}
table{
	margin-top: 2%;
}
